.logo-image {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-image img{
    flex: 1;
    position: absolute;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    max-height:100%; 
    max-width:100%;
}